/*-------------------------FONTS-------------------------*/
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:700&subset=cyrillic');
/*font-family: 'Noto Serif', serif;*/
@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Light.eot');
	src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ProximaNova-Light.woff') format('woff'),
	url('../fonts/ProximaNova-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Regular.eot');
	src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ProximaNova-Regular.woff') format('woff'),
	url('../fonts/ProximaNova-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Semibold.eot');
	src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ProximaNova-Semibold.woff') format('woff'),
	url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Bold.eot');
	src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ProximaNova-Bold.woff') format('woff'),
	url('../fonts/ProximaNova-Bold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Extrabld.eot');
	src: url('../fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ProximaNova-Extrabld.woff') format('woff'),
	url('../fonts/ProximaNova-Extrabld.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
/*-------------------- RESETE STYLES --------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
	margin:0;
	padding:0;
	border:0;
	font:inherit;
	font-size:100%;
	vertical-align:baseline;
}
html{
	line-height:1;
}
ol, ul{
	list-style:none;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
th, td{
	text-align:left;
	font-weight:normal;
	vertical-align:middle;
}
a img{
	border:none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary{
	display:block;
}
strong, b{
	font-weight:700;
}
/*-------------------- BOOTSTRAP STYLES --------------------*/
.clearfix:before, .clearfix:after, .row:before, .row:after{
	display:table;
	content:"";
	clear:both;
}
.container{
	margin-right:auto;
	margin-left:auto;
	position:relative;
	padding-left: 15px;
	padding-right: 15px;
}
@media (min-width:768px){
	.container{
		width:750px;
	}
}
@media (min-width:992px){
	.container{
		width:970px;
	}
}
@media (min-width:1200px){
	.container{
		width:1170px;
	}
}
/*-------------------- DEFAULT STYLES --------------------*/
html{
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}
body{
	color:#000;
	line-height:1.2;
	font-size:14px;
	font-family:'ProximaNova', sans-serif;
	font-weight: 400;
	min-width: 320px;
}
*{
	box-sizing:border-box;
	outline:none !important;
}
*:before, *:after{
	box-sizing:border-box;
}
.hide{
	display:none;
}
b, strong{
	font-weight:bold;
}
button, input[type="button"], input[type="submit"]{
	-webkit-appearance:button;
	cursor:pointer;
}
button[disabled], html input[disabled]{
	cursor:default;
}
button::-moz-focus-inner, input::-moz-focus-inner{
	padding:0;
	border:0;
}
/*-------------------- MENU --------------------*/
.header {
	background-color: transparent;
	height: 40px;
	position:absolute;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-o-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	-moz-align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	align-items: center;
	padding:0 120px 0 75px;
	top: 42px;
	left: 0;
	width:100%;
	z-index: 1;
}
.nav-menu {
	float:none;
	display:none;
	width:100% !important;
	position: absolute;
	left: 0;
	top: 60px;
	background-color: #fff;
	margin-left: -150px;
	z-index: 3;
}
@media (min-width:768px){
	.nav-menu{
		display:block !important;
		width:auto !important;
		position: static;
		left: auto;
		background-color: transparent;
		z-index: 0;
	}
}
.nav-list li{
	display:block;
	vertical-align:top;
	text-align:center;
	position: relative;
}
.phone{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	align-items: center;
	width: 365px;
}
@media (min-width:768px){
	.nav-list li{
		display:inline-block;
		text-align:left;
	}
}
.nav-list li.dropdown ul{
	display: none;
	min-width: 100%;
}
.nav-list li.dropdown ul li a{
	text-transform: none;
	height: 40px;
	line-height: 40px;
}
@media (min-width:768px){
	.nav-list li.dropdown ul{
		left: 0;
		position: absolute;
		top: 100%;
		min-width: 150px;
		background-color: #ccc;
	}
	.nav-list li.dropdown ul li{
		display: block;
	}
	.nav-list li.dropdown2 ul {
		left: 100%;
		top: 0;
	}
}
.nav-list li a{
	color:#000;
	text-transform:uppercase;
	font-size:14px;
	text-decoration:none;
	line-height:20px;
	margin: 0 25px;
	display:block;
	height:20px;
	-webkit-transition:all 0.3s ease;
			transition:all 0.3s ease;
}
.nav-list li a:hover{
	border-bottom: 1px solid #3F3D55;
	opacity: 0.8;
}
.nav-list li a:active{
	-webkit-transform: translate(0px, 1px);
	-moz-transform: translate(0px, 1px);
	-o-transform: translate(0px, 1px);
	-ms-transform: translate(0px, 1px);
	transform: translate(0px, 1px);
	color: #ED5381;
	font-weight: 500;
	border-bottom: 1px solid #ED5381;
}
.nav-btn{
	display:block;
	height:50px;
	position:absolute;
	right:0;
	top:5px;
	width:60px;
	padding:10px 15px;
	display:block;
	z-index:2;
	overflow:hidden;
}
@media (min-width:768px){
	.nav-btn{
		display:none;
	}
}
.nav-btn span{
	background-color:#000;
	height:2px;
	width:100%;
	display:block;
	margin:6px 0;
	position:relative;
	-webkit-transition:all 0.4s ease, visibility 0.1s ease;
			transition:all 0.4s ease, visibility 0.1s ease;
}
.nav-btn:hover span:nth-child(2){
	margin-left: -8px;
}
.nav-btn.active span{
	height: 2px;
	-webkit-transform-origin:0;
			transform-origin:0;
}
.nav-btn.active span:first-child{
	-webkit-transform:rotate(45deg);
			transform:rotate(45deg);
}
.nav-btn.active span:last-child{
	margin-top: 11px;
	-webkit-transform:rotate(-45deg);
			transform:rotate(-45deg);
}
.nav-btn.active span:nth-child(2){
	visibility:hidden;
}
/*-------------------FOOTER-------------------*/
.footer{
	position: absolute;
	left: 117px;
	bottom: 42px;
}
.footer ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	-moz-align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	align-items: center;
}
.footer ul li a{
	display: block;
	margin: 10px 0;
	opacity: 0.8;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
}
.footer ul li a:hover{
	opacity: 1;
}
.footer ul li a:active{
	-webkit-transform: translate(0px, 1px);
	-moz-transform: translate(0px, 1px);
	-o-transform: translate(0px, 1px);
	-ms-transform: translate(0px, 1px);
	transform: translate(0px, 1px);
}
.footer ul li a img{
	display: block;
}
/*--------------------LOGO--------------------*/
.logo {
	color: #000;
	font-size: 20px;
	font-weight: 300;
	text-decoration: none;
}
.header-phone{
	text-decoration: none;
	display: block;
	width: 210px;
	margin-right: 20px;
	font-size: 20px;
	margin-right: 22px;
	letter-spacing: 0.03em;
	-webkit-transition: .3s ease;
	transition: .3s ease;
	color: #0F0C2B;
}
.header-phone:hover{
	color: #ED5381;
}
.btn {
	background-color: transparent;
	text-decoration: none;
	text-align: center;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	width: 100%;
	max-width: 150px;
	-webkit-transition: .3s ease;
	transition: .3s ease;
	border: 1px solid #0F0C2B;
	box-sizing: border-box;
	border-radius: 20px;
	color: #0F0C2B;
}
.btn-big{
	display: inline-block;
	max-width: 250px;
	width: 100%;
	height: 56px;
	font-weight: 500;
	line-height: 56px;
	text-transform: uppercase;
	letter-spacing: 0.08em;
	color: #fff;
	border-radius: 28px;
	border: 1px solid transparent;
	box-shadow: 0px 10px 12px 0px rgba(255, 168, 194, 0.6);
	-webkit-background: linear-gradient(180deg, #F76095 0%, #E34668 87.85%, #DE4566 100%);
	background: linear-gradient(180deg, #F76095 0%, #E34668 87.85%, #DE4566 100%);
}
.btn-big:active{
	box-shadow: 0px 10px 10px 0px rgba(255, 168, 194, 0.9);
}
.btn-fat{
	max-width: 350px;
}
.btn:hover{
	-webkit-background: linear-gradient(180deg, #FC689C 0%, #E84D6E 87.85%, #E34B6C 100%);
	background: linear-gradient(180deg, #FC689C 0%, #E84D6E 87.85%, #E34B6C 100%);
	border-radius: 28px;
	border: 1px solid transparent;
	color: #fff;
}
.btn:active{
	-webkit-transform: translate(0, 1px);
	-moz-transform: translate(0, 1px);
	-o-transform: translate(0, 1px);
	-ms-transform: translate(0, 1px);
	transform: translate(0, 1px);
}
.section{
	position: relative;
	border-left: 210px solid #FCFCFD;
}
/*-------------------- POPUP --------------------*/
.overlay {
	left: 0;
	opacity: 0;
	position: fixed;
	width: 100%;
	top: 0;
	height: 100%;
	z-index: -1;
	-webkit-transition: opacity .4s;
	transition: opacity .4s;
	background-color: rgba(0,0,0,.7);
}
.overlay.active {
	z-index: 9;
	opacity: 1;
	overflow: hidden;
}
.overlay.active-gal {
	background-color: transparent;
}
.popup {
	left: 50%;
	-webkit-transform: translate(-50%, -50%) scale(0);
	transform: translate(-50%, -50%) scale(0);
	position: fixed;
	display: flex;
	top: 50%;
	z-index: -1;
	-webkit-transition: .4s ease;
	transition: .4s ease;
	max-width: 780px;
	width: 100%;
	height: 540px;
	width: 100%;
	background-color: #fff;
}
.popup-img{
	max-width: 320px;
	width: 100%;
	height: 100%;
}
.popup .free-lesson-form{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-o-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	align-items: center;
	height: 100%;
}
.popup .free-lesson{
	max-width: 460px;
	width: 100%;
	height: 100%;
	box-shadow: none;
	padding: 46px 60px 67px;
}
.popup .free-lesson h3{
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 18px;
}
.popup .free-lesson .popup-name{
	font-size: 18px;
	font-weight: 500;
	line-height: 26px;
}
.popup .free-lesson-input{
	width: 250px;
	margin: 0 auto 18px;
}
.popup .free-lesson-input li{
	margin-bottom: 19px;
}
.popup .free-lesson span{
	max-width: 211px;
	margin: 0 auto;
	font-size: 12px;
	line-height: 14px;
}
.popup-action3 .free-lesson-radio{
	width: 250px;
}
.popup.active {
	z-index: 999;
	-webkit-transform: translate(-50%, -50%) scale(1);
	transform: translate(-50%, -50%) scale(1);
}
body.modal .overlay {
	opacity: 1;
	z-index: 9;
	overflow: hidden;
}
body.modal {
	overflow: hidden;
}
.popup h5 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 24px;
	text-align: center;
	margin-bottom: 20px;
	color: #000;
}
.popup-close {
	width: 12px;
	height: 12px;
	position: absolute;
	right: 26px;
	top: 22px;
	cursor: pointer;
	-webkit-transition: .4s ease;
	transition: .4s ease;
}
.popup-close::before,
.popup-close::after {
	content: "";
	width: 2px;
	height: 16px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-color: rgba(0,0,0,0.6);
	-webkit-transition: .3s ease;
	transition: .3s ease;
}
.popup-close::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.popup-close::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.popup-close:hover::before,
.popup-close:hover::after {
	opacity: .6;
}
.popup input{
	display: block;
	width: 100%;
	height: 46px;
	padding: 0 20px;
}
.popup ul li{
	margin-bottom: 10px;
}
.popup ul li:last-child{
	margin-bottom: 0;
}
.popup .popup-btn{
	border: none;
	text-transform: uppercase;
	max-width: 290px;
	margin: 20px auto 0;
	background-color: red;
	color: #fff;
	-webkit-transition: .4s ease;
	transition: .4s ease;
	font-weight: 700;
	font-size: 16px;
}
.popup .popup-btn:hover{
	opacity: .7;
}
.popup-img{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
/*-----------------PRELOADER-----------------*/
.preloader{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #E0F4FF;
	z-index: 999999;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #0F0C2B;
}
.preload-wrap{
	position: absolute;
	left: 50%;
	font-size: 95px;
	line-height: 119px;
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	animation: first 3s ease-in-out infinite;
	-webkit-animation: first 3s ease-in-out infinite;

}
@keyframes first{
	0%{
		top: 100%;
		line-height: 280px;
	}
	50%{
		top: 20%;
		line-height: 119px;
	}
	100%{
		top: -170%;
		line-height: 280px;
	}
}
/*--------------NAVIGATION--------------*/
#fp-nav ul li > a{
	text-decoration: none
}
.fp-sr-only{
	width: 22px;
	height: 21px;
	font-size: 18px;
	color: #0F0C2B;
	text-decoration: none;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	transition: 0.3s ease;
}
#fp-nav.fp-left {
	left: 122px;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
.fp-nav ul li a{
	text-decoration: none !important;
}
.fp-tooltip.fp-left{
	height: 0;
	color: transparent;
	width: 1px;
	background-color: rgba(15, 12, 43, 0.3);
	position: relative;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	-webkit-transition: .8s ease;
	-moz-transition: .8s ease;
	-o-transition: .8s ease;
	-ms-transition: .8s ease;
	transition: .8s ease;
	cursor: default;
}
.active + .fp-tooltip.fp-left{
	height: 156px;
	margin: 7px 0;
}
#fp-nav ul li:last-child {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column-reverse;
	-moz-flex-direction: column-reverse;
	-ms-flex-direction: column-reverse;
	-o-flex-direction: column-reverse;
	flex-direction: column-reverse;
}
.fp-sr-only:hover{
	color: rgba(15, 12, 43, 0.6);
	font-weight: 700;
}
.active .fp-sr-only,
.fp-sr-only:active{
	color: #ED5381;
	font-weight: 700;
}
/*---------------MAIN SECTION---------------*/
h1{
	font-family: 'Noto Serif';
	font-weight: bold;
	line-height: 60px;
	font-size: 46px;
	color: #0F0C2B;
	max-width: 492px;
	max-height: 120px;
	overflow: hidden;
	margin-bottom: 32px;
}
.main-desc{
	max-width: 472px;
	line-height: 30px;
	font-size: 20px;
	max-height: 60px;
	overflow: hidden;
	color: #0F0C2B;
	margin-bottom: 46px;
}
.advantages{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	-o-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
	-webkit-align-items: center;
	-moz-align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	align-items: center;
	max-width: 1038px;
	width: 100%;
	position: absolute;
	bottom: 0;
	right: 0;
	background: #E0F4FF;
	box-shadow: -1px -2px 10px rgba(24, 53, 98, 0.05);
	padding: 35px 87px 35px 21px;
}
.advantages img{
	display: block;
}
.girl{
	position: absolute;
	bottom: 100%;
	right: 400px;
}
.woman{
	position: absolute;
	bottom: 100%;
	right: 21px;
}
.advantages-p{
	padding:10px 33px;
	line-height: 22px;
	font-size: 15px;
	color: #0F0C2B;
	max-height: 70px;
	overflow: hidden;
	border-right: 1px solid rgba(128, 128, 128, 0.5);
}
.advantages-p:last-child{
	border: none;
}
/*------------------TEACHER SECTION------------------*/
.teacher-slider {
	position: relative;
}
.teacher-slider .slick-prev{
	display: none !important;
}
.slick-arrow-next{
	max-width: 209px;
	width: 100%;
	position: absolute;
	bottom: -54px;
	right: 70px;
	font-size: 17px;
	color: #0F0C2B;
	font-weight: 600;
	cursor: pointer;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	transition: 0.3s ease;
}
.slick-arrow-next:hover{
	-webkit-transform: translate(0, -1px);
	-moz-transform: translate(0, -1px);
	-o-transform: translate(0, -1px);
	-ms-transform: translate(0, -1px);
	transform: translate(0, -1px);
}
.slick-arrow-next:active{
	-webkit-transform: translate(0, 2px);
	-moz-transform: translate(0, 2px);
	-o-transform: translate(0, 2px);
	-ms-transform: translate(0, 2px);
	transform: translate(0, 2px);
}
.decor-slide{
	position: absolute;
	width: 34px;
	height: 2px;
	right: 0;
	top: 50%;
	background-color: #0F0C2B;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
.decor-slide:before{
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translate(0, -50%) rotate(-45deg);
	-moz-transform: translate(0, -50%) rotate(-45deg);
	-o-transform: translate(0, -50%) rotate(-45deg);
	-ms-transform: translate(0, -50%) rotate(-45deg);
	transform: translate(0, -50%) rotate(-45deg);
	display: block;
	width: 10px;
	height: 10px;
	border-right: 2px solid #0F0C2B;
	border-bottom: 2px solid #0F0C2B;
}
.teacher-slide{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	overflow: hidden;
	padding: 15px;
}
.slick-initialized .slick-slide{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.teacher-desc{
	max-width: 461px;
	width: 100%;
	opacity: 0;
	-webkit-transition: 1.5s ease-in;
	-moz-transition: 1.5s ease-in;
	-o-transition: 1.5s ease-in;
	-ms-transition: 1.5s ease-in;
	transition: 1.5s ease-in;
}
.slick-active .teacher-desc{
	opacity: 1;
}
h2{
	font-family: 'Noto Serif';
	font-weight: 600;
	font-size: 36px;
	color: #0F0C2B;
	margin-bottom: 18px;
}
.teacher-name{
	line-height: 41px;
	font-size: 28px;
	font-weight: 600;
	color: #0F0C2B;
	margin-bottom: 5px;
}
.teacher-desc-sect{
	margin-bottom: 12px;
}
.teacher-desc-sect p,
.teacher-price p{
	line-height: 25px;
	font-size: 17px;
	color: #0F0C2B;
	font-weight: 600;
	margin-bottom: 2px;
}
.teacher-desc-sect span,
.teacher-price span{
	line-height: 22px;
	font-size: 15px;
	color: #0F0C2B;
}
.teacher-price p span{
	font-weight: 400;
}
.teacher-price{
	margin-bottom: 2px;
}
.teacher-desc .btn-big{
	margin-top: 33px;
}
.teacher-demo{
	height: 480px;
	max-width: 395px;
	margin-left: 98px;
	width: 100%;
	position: relative;
	-webkit-transform: translate(200%, 0);
	-moz-transform: translate(200%, 0);
	-o-transform: translate(200%, 0);
	-ms-transform: translate(200%, 0);
	transform: translate(200%, 0);
	opacity: 0;
	-webkit-transition: 1.5s ease 3.5s;
	-moz-transition: 1.5s ease 3.5s;
	-o-transition: 1.5s ease 3.5s;
	-ms-transition: 1.5s ease 3.5s;
	transition: 1.5s ease 3.5s;
}
.slick-active .teacher-demo{
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
	opacity: 1;
	-webkit-transition: 1s ease 0.5s;
	-moz-transition: 1s ease 0.5s;
	-o-transition: 1s ease 0.5s;
	-ms-transition: 1s ease 0.5s;
	transition: 1s ease 0.5s;
}
.teacher-demo:before{
	content: '';
	position: absolute;
	width: 100%;
	top: 13px;
	left: 13px;
	height: 100%;
	background: #E7E7E7;
}
.photo-teacher{
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	z-index: 1;
}
.teacher-wrap-video{
	position: absolute;
	width: 204px;
	height: 116px;
	top: 45px;
	right: -102px;
	overflow: hidden;
	cursor: pointer;
}
.teacher-wrap-video:hover .teacher-video{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}
.teacher-wrap-video:hover .teacher-video:before{
	background-color: rgba(255,255,255,0.7);
}
.teacher-video{
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	width: 100%;
	height: 100%;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	transition: 0.3s ease;
}
.teacher-video:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(255,255,255,0.9);
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	transition: 0.3s ease;
}
.decor{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	width: 42px;
	height: 42px;
	border-radius: 50%;
	border: 2px solid #ED5381;
	-webkit-animation: pulse-phone-in 2.5s ease 0s infinite normal;
    -o-animation: pulse-phone-in 2.5s ease 0s infinite normal;
    -moz-animation: pulse-phone-in 2.5s ease 0s infinite normal;
    animation: pulse-phone-in 2.5s ease 0s infinite normal;
}
.decor:before{
	content: '';
	position: absolute;
	top: 50%;
	left: 53%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 0 6px 9px;
	border-color: transparent transparent transparent #ed5381;
	-webkit-animation: pulse-phone 2.5s ease 0s infinite normal;
    -o-animation: pulse-phone 2.5s ease 0s infinite normal;
    -moz-animation: pulse-phone 2.5s ease 0s infinite normal;
    animation: pulse-phone 2.5s ease 0s infinite normal;
}
@keyframes pulse-phone {
    0% {
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        -webkit-transform: translate(-50%, -50%) scale(1.3);
        transform: translate(-50%, -50%) scale(1.3);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
    }
}
@keyframes pulse-phone-in {
    0% {
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        -webkit-transform: translate(-50%, -50%) scale(1.3);
        transform: translate(-50%, -50%) scale(1.3);
        opacity: 0.8;
    }
    100% {
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}
/*------------------REWIEVS SECTION------------------*/
.rewievs{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-o-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}
.rewievs .free-lesson{
	height: 520px;
}
.single-rewiev-wrap{
	margin-top: 29px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-o-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	width: 630px;
}
.pupil-photo{
	display: block;
	width: 190px;
	height: 190px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	box-shadow: 10px 10px 0px #D6EEFF;
}
.pupil-rewiev{
	max-width: 384px;
}
.pupil-rewiev p{
	line-height: 22px;
	font-size: 15px;
	color: #0F0C2B;
}
.bottom-rewievs{
	margin-top: 59px;
}
.bottom-rewievs p{
	font-size: 17px;
	font-weight: 600;
	color: #0F0C2B;
	margin-bottom: 23px;
}
.rewievs-tabs{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-o-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	max-width: 432px;
	width: 100%;
}
.rewiev-tab{
	display: block;
	width: 90px;
	height: 90px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
	position: relative;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	transition: 0.3s ease;
}
.rewiev-tab .pupil-rewiev{
	display: none;
}
.rewiev-tab:hover{
	-webkit-transform: translate(-4px, -4px);
	-moz-transform: translate(-4px, -4px);
	-o-transform: translate(-4px, -4px);
	-ms-transform: translate(-4px, -4px);
	transform: translate(-4px, -4px);
	box-shadow: 4px 4px 1px 1px #E5E5E5;
}
.rewiev-tab:active{
	-webkit-transform: translate(-2px, -2px);
	-moz-transform: translate(-2px, -2px);
	-o-transform: translate(-2px, -2px);
	-ms-transform: translate(-2px, -2px);
	transform: translate(-2px, -2px);
	box-shadow: 2px 2px 1px 1px #E5E5E5;
}
.free-lesson{
	max-width: 330px;
	width: 100%;
	background: #E0F4FF;
	box-shadow: 3px 4px 8px rgba(3, 17, 38, 0.18);
	padding: 46px 60px 67px;
}
.free-lesson-form h3{
	text-align: center;
}
h3{
	font-size: 24px;
	color: #0F0C2B;
	font-weight: 600;
	margin-bottom: 15px;
}
.free-lesson-input{
	width: 210px;
	margin: 25px auto 0;
}
.free-lesson-input li{
	width: 100%;
	height: 44px;
	position: relative;
	overflow: hidden;
	border-radius: 22px;
	margin-bottom: 18px;
}
.free-lesson-input li input{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #fff;
	border: none;
	color: rgba(15, 12, 43, 0.6);
	padding: 13px 22px;
}
.free-lesson-input li input[type="text"],
.free-lesson-input li input[type="phone"]{
	font-size: 16px;
	opacity: 0.9;
	color: #0F0C2B;
}
.free-lesson-form p{
	font-size: 17px;
	font-weight: 500;
	color: #0F0C2B;
	padding-left: 50px;
}
.free-lesson-radio{
	width: 210px;
	margin: 0 auto 26px;
}
.free-lesson-radio li{
	width: 100%;
	height: 20px;
	position: relative;
	font-size: 15px;
	color: #0F0C2B;
	margin-top: 8px;
}
.free-lesson-radio li input[type="radio"]{
	opacity: 0;
	width: 100%;
	display: block;
	height: 22px;
	position: absolute;
	cursor: pointer;
	z-index: 1;
}
.free-lesson-radio li span{
	width: 16px;
	height: 16px;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	left: 0;
	display: block;
	background-color: #fff;
	border-radius: 50%;
}
.free-lesson-radio li article{
	padding-left: 25px;
	cursor: pointer;
}
.free-lesson-radio li input[type="radio"]:checked + span:before{
	content:'';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	width: 6px;
	height: 6px;
	display: block;
	background: #020202;
}
.free-lesson-form span{
	line-height: 13px;
	font-size: 11px;
	display: block;
	max-width: 193px;
	text-align: center;
	color: #0F0C2B;
	margin: 0 auto;
}
.free-lesson-form .btn-big{
	margin-top: 13px;
}
/*------------------CONTACT SECTION------------------*/
.contacnts-wrap{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-o-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	max-width: 1060px;
}
.contacnts-wrap .btn-big{
	margin-top: 42px;
}
.contacts-info{
	max-width: 362px;
	width: 100%;
}
.contacts-info p{
	line-height: 25px;
	font-size: 17px;
	color: #0F0C2B;
	font-weight: 600;
	margin-bottom: 11px;
}
.contacts-info span{
	line-height: 22px;
	font-size: 15px;
	color: #0F0C2B;
	display: block;
}
.time-adress,.phone-email{
	margin-top: 35px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-o-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}
.phone-email a{
	line-height: 22px;
	font-size: 15px;
	text-decoration: none;
	color: #0F0C2B;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	transition: 0.3s ease;
}
.phone-email a:hover{
	color: #ED5381;
}
.contacnts-wrap .btn-big.btn-fat{
	max-width: 320px;
}
#map {
	display: block;
	width: 560px;
	height:481px;
}
#map .gm-control-active.gm-fullscreen-control,
#map .gmnoprint,
#map .gm-style-cc{
	display: none;
}
/*-----------------RESPONSIVE-----------------*/
@media(max-height:750px) and (max-width: 2500px){
	.header{
		top: 20px;
	}
	.advantages{
		padding: 20px 87px 35px 20px;
	}
	.slick-arrow-next{
		bottom: -20px;
	}
}
@media(max-height:700px) and (max-width: 2500px){
	.girl{
		height: 380px;
	}
	.woman{
		height: 480px;
	}
	.teacher-slider{
		top: 20px;
	}
	.slick-arrow-next{
		bottom: 10px;
	}
	.rewievs,
	.contacnts-wrap{
		position: relative;
		top: 20px;
	}
}
@media(max-height:650px) and (max-width: 2500px){
	.girl{
		height: 320px;
	}
	.rewievs .free-lesson{
		height: 480px;
	}
	.woman{
		height: 420px;
	}
	.teacher-desc .btn-big{
		margin-top: 20px;
	}
	.teacher-demo{
		height: 420px;
		max-width: 350px;
	}
	h2{
		margin-bottom: 10px;
		font-size: 32px;
	}
	.teacher-desc-sect{
		margin-bottom: 5px;
	}
	.teacher-name{
		line-height: 32px;
		font-size: 24px;
	}
	.slick-arrow-next{
		bottom: 0px;
	}
	.single-rewiev-wrap{
		margin-top: 10px;
	}
	.bottom-rewievs{
		margin-top: 25px;
	}
	.free-lesson{
		padding: 26px 30px 35px;
	}
	#map{
		height: 430px;
	}
	.teacher-desc-sect span,
	.teacher-price span{
		line-height: 18px;
	}
}
@media(max-height:1100px) and (max-width: 1440px){
	.section{
		border-left: 150px solid #FCFCFD;
	}
	.header {
		padding:0 50px 0 20px;
	}
	.rewievs .free-lesson{
		 margin-right: 110px;
	}
	#fp-nav.fp-left {
		left: 75px;
	}
	.footer{
		left: 75px;
		bottom: 25px;
	}
	h1{
		line-height: 48px;
		font-size: 40px;
		margin-bottom: 20px;
	}
	.main-desc{
		max-width: 440px;
		line-height: 26px;
		font-size: 20px;
		margin-bottom: 25px;
	}
	.advantages{
		padding: 15px 20px;
		max-width: 900px;
	}
	.girl{
		right: 340px;
	}
	.woman{
		right: -25px;
	}
	.advantages-p{
		padding:10px 20px;
		line-height: 20px;
	}
	.slick-arrow-next{
		right: 190px;
	}
	.teacher-demo{
		margin-left: 40px;
	}
	.rewievs{
		-webkit-justify-content: space-around;
		-moz-justify-content: space-around;
		-o-justify-content: space-around;
		-ms-justify-content: space-around;
		justify-content: space-around;
	}
	.contacnts-wrap{
		-webkit-justify-content: flex-start;
		-moz-justify-content: flex-start;
		-o-justify-content: flex-start;
		-ms-justify-content: flex-start;
		justify-content: flex-start;
	}
	#map{
		margin-left: 60px;
	}
}
@media(max-height:700px) and (max-width: 1440px){
	.woman{
		right: 20px;
	}
}
@media(max-height:1050px) and (max-width:1199px){
	.nav-menu{
		margin-left: -50px;
	}
	.header-phone{
		margin-right: 10px;
	}
	h1{
		line-height: 42px;
		font-size: 36px;
		margin-bottom: 20px;
		max-width: 390px;
	}
	.main-desc{
		max-width: 390px;
		line-height: 22px;
		font-size: 18px;
		margin-bottom: 15px;
		max-height: 70px;
	}
	.girl{
		height: 340px;
		right: 250px;
	}
	.woman{
		height: 400px;
		right: -25px;
	}
	.teacher-desc{
		max-width: 400px;
	}
	h2{
		margin-bottom: 10px;
		font-size: 28px;
		line-height: 32px;
	}
	.teacher-name{
		line-height: 34px;
		font-size: 24px;
	}
	.teacher-desc-sect{
		margin-bottom: 5px;
	}
	.teacher-desc-sect span,
	.teacher-price span{
		line-height: 18px;
	}
	.teacher-demo{
		height: 380px;
		max-width: 305px;
		margin-left: 25px;
	}
	.teacher-wrap-video{
		width: 144px;
		height: 90px;
		top: 45px;
		right: -72px;
	}
	.pupil-photo{
		width: 160px;
		height: 160px;
	}
	.single-rewiev-wrap{
		margin-top: 15px;
		width: 450px;
	}
	.pupil-rewiev{
		max-width: 255px;
	}
	.bottom-rewievs{
		margin-top: 30px;
	}
	.rewievs .free-lesson{
		padding: 30px 35px;
		max-width: 300px;
	}
	#map{
		margin-left: 20px;
		width: 410px;
		height: 380px
	}
}
@media(max-height:700px) and (max-width:1199px){
	.slick-arrow-next{
		bottom: 30px;
	}
	.bottom-rewievs{
		margin-top: 10px;
	}
	.rewievs .free-lesson{
		padding: 15px 35px;
		height: 480px;
	}
}
@media(max-height: 1100px) and (max-width: 991px){
	.section{
		border-left: 90px solid #FCFCFD;
	}
	.header {
		padding:0 10px 0 10px;
	}
	.nav-menu{
		margin-left: 0;
	}
	.logo img{
		width: 100px;
	}
	.nav-list li a{
		margin: 0 7px;
	}
	.phone{
		width: 300px;
	}
	.header-phone{
		margin-right: 5px;
		font-size: 16px;
	}
	#fp-nav.fp-left{
		left: 37px;
	}
	.footer{
		left: 35px;
	}
	.girl,
	.woman{
		opacity: 0.2;
		z-index: -1;
	}
	.teacher-slider{
		top: 15px;
	}
	.slick-initialized .slick-slide{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-webkit-align-items: center;
		-moz-align-items: center;
		-o-align-items: center;
		-ms-align-items: center;
		align-items: center;
	}
	.teacher-desc{
		max-width: calc(100% - 100px);
	}
	h2{
		font-size: 28px;
		line-height: 30px;
		margin-bottom: 0;
	}
	.teacher-name{
		font-size: 22px;
	}
	.teacher-desc-sect{
		margin-bottom: 5px;
	}
	.teacher-desc-sect p,
	.teacher-price p{
		line-height: 20px;
		font-size: 16px;
		margin-bottom: 2px;
	}
	.teacher-desc-sect span,
	.teacher-price span{
		line-height: 18px;
		font-size: 15px;
	}
	.teacher-desc .btn-big{
		margin-top: 5px;
	}
	.teacher-demo{
		margin-left: 0;
		max-width: calc(100% - 150px);
		height: 350px;
		margin-top: 20px;
	}
	.photo-teacher{
		background-position: center top;
	}
	.teacher-wrap-video{
		width: 130px;
		height: 90px;
		left: -75px;
		top: 35px;
	}
	.slick-arrow-next{
		right: 100px;
		bottom: -30px;
	}
	.single-rewiev-wrap{
		display: block;
		width: auto;
	}
	.pupil-photo{
		margin-bottom: 15px;
	}
	.pupil-rewiev{
		max-width: 95%;
	}
		h3{
		margin-bottom: 10px;
	}
	.pupil-rewiev p{
		line-height: 19px;
	}
	.bottom-rewievs{
		margin-top: 5px;
	}
	.bottom-rewievs p{
		font-size: 16px;
		margin-bottom: 10px;
	}
	.rewievs-tabs{
		-webkit-justify-content: space-around;
		-moz-justify-content: space-around;
		-o-justify-content: space-around;
		-ms-justify-content: space-around;
		justify-content: space-around;
	}
	.rewiev-tab{
		width: 78px;
		height: 78px;
	}
	.contacnts-wrap{
		flex-direction: column;
	}
	.contacts-info{
		max-width: 85%;
	}
	#map{
		width: 85%;
		margin: 0;
		margin-top: 20px;
	}
	.contacts-info span{
		line-height: 20px;
		font-size: 15px;
	}
	.time-adress,.phone-email{
		margin-top: 15px;
		justify-content: space-around;
	}
	.time-cont,
	.adress-cont,
	.phone-cont,
	.email-cont{
		width: 50%;
	}
	.contacnts-wrap .btn-big{
		margin-top: 15px;
	}
}
@media(max-height: 900px) and (max-width: 991px){
	.teacher-demo{
		height: 280px;
	}
	.btn-big{
		height: 44px;
		line-height: 44px;
	}
	#map{
		height: 280px;
	}
}
@media(max-height: 800px) and (max-width: 991px){
	.teacher-demo{
		height: 225px;
	}
	h2{
		font-size: 24px;
		line-height: 28px;
	}
	.teacher-name{
		font-size: 20px;
		line-height: 24px;
	}
	.teacher-desc-sect{
		margin-bottom: 0;
	}
	.teacher-desc-sect p, .teacher-price p{
		margin-bottom: 0;
		font-size: 15px;
	}
	.slick-arrow-next{
		bottom: 90%;
	}
}
@media(max-height: 800px) and (max-width: 991px){
	.teacher-demo{
		height: 150px;
	}
	.single-rewiev-wrap{
		margin: 5px 0;
	}
	.pupil-rewiev h3{
		margin-bottom: 0;
		font-size: 22px;
		line-height: 24px;
	}
	.pupil-rewiev p{
		line-height: 16px;
	}
	.rewievs .free-lesson{
		height: 440px;
		margin-top: 15px;
	}
	.time-adress,.phone-email{
		margin-top: 5px;
		justify-content: space-around;
	}
	.contacts-info p{
		line-height: 20px;
		margin-bottom: 5px;
	}
	#map{
		margin-top: 15px;
	}
}
@media(max-width: 767px){
	.section{
		border: none;
	}
	.header{
		position: fixed;
		top: 0;
		padding: 30px 10px;
		-webkit-justify-content: flex-start;
		-moz-justify-content: flex-start;
		-o-justify-content: flex-start;
		-ms-justify-content: flex-start;
		justify-content: flex-start;
		background-color: #fff;
	}
	.phone{
		margin-left: 20px;
	}
	.nav-list li{
		padding: 8px 0;
	}
	.main-section{
		padding-top: 140px;
	}
	.advantages{
		position: relative;
		margin-top: 80px;
	}
	h1{
		max-width: 100%;
		text-align: center;
	}
	.main-desc{
		margin: 0 auto;
		text-align: center;
	}
	.girl{
		left: 0;
		height: 270px;
	}
	.woman{
		right: 0;
		height: 300px;
	}
	.main-section .btn-big{
		margin: 30px auto;
		display: block;
	}
	h2{
		max-width: 100%;
		text-align: center;
	}
	.teacher-desc{
		max-width: 100%;
	}
	.teacher-desc .btn-big{
		margin: 15px auto 10px;
		display: block;
	}
	.slick-arrow-next{
		bottom: -35px;
		right: 20px;;
	}
	.teacher-desc h2{
		margin-bottom: 10px;
	}
	.teacher-demo{
		height: 230px;
	}
	.rewievs-section{
		margin-top: 65px;
	}
	.all-rewievs h2{
		margin-bottom: 20px;
	}
	.rewievs{
		width: 100%;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.single-rewiev-wrap{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-justify-content: flex-start;
		-moz-justify-content: flex-start;
		-o-justify-content: flex-start;
		-ms-justify-content: flex-start;
		justify-content: flex-start;
	}
	.pupil-rewiev{
		max-width: 400px;
		margin-left: 25px;
	}
	.rewievs .free-lesson{
		margin: 20px auto 0;

	}
	.contacts-section{
		margin: 20px 0;
	}
	.contacts-info, #map{
		max-width: 100%;
		width: 100%;
		text-align: center;
	}
	.footer{
		position: static;
		padding: 10px 0;
	}
	.footer ul{
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
		-webkit-align-items: center;
		-moz-align-items: center;
		-o-align-items: center;
		-ms-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-o-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
	}
	.footer ul li{
		margin: 0 15px;
	}
	.popup{
		max-width: 450px;
	}
	.popup-img{
		display: none;
	}
}
@media(max-width: 575px){
	.main-section{
		padding-top: 100px;
	}
	h1{
		font-size: 30px;
	}
	.advantages{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		margin-top: 20px;
		padding: 8px;
	}
	.advantages-p{
		max-width: 100%;
		text-align: center;
		border-right: none;
		padding: 8px 0;
		border-bottom: 1px solid rgba(128, 128, 128, 0.5);
	}
}
@media(max-width:480px){
	.main-section{
		padding-top: 70px;
	}
	h1{
		line-height: 34px;
	}
	.phone .btn{
		line-height: 35px;
		height: 35px;
		max-width: 130px;
	}
	.teacher-demo{
		max-width: 100%;
	}
	.teacher-wrap-video{
		top: -15px;
		left: -20px;
		width: 100px;
		height: 60px;
	}
	.decor{
		width: 28px;
		height: 28px;
	}
	.single-rewiev-wrap{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.pupil-photo{
		margin: 0 auto 25px;
	}
	.pupil-rewiev{
		margin: 0 auto 10px;
		width: 100%;
	}
	.rewiev-tab{
		margin: 0 5px;
	}
	.teacher-desc .btn-big{
		margin: 15px auto 10px;
		display: block;
		font-size: 13px;
	}
	.header-phone{
		width: 200px;
		margin: 10px auto;
		text-align: center;
	}
	.girl{
		height: 230px;
		left: -50px;
	}
	.woman{
		height: 280px;
		right: -100px;
	}
	.popup{
		max-width: 98%;
	}
	.popup .free-lesson{
		padding: 46px 30px 50px;
	}
	.popup-close {
		right: 10px;
		top: 10px;
	}
}
@media(max-height: 650px){
	.popup{
		height: 80%;
	}

}
@media(max-height: 580px){
	.popup-action3 .free-lesson h3{
		margin-bottom: 8px;
		font-size: 16px;
		max-width: 300px;
	}
	.popup-action3 .free-lesson-input{
		margin-bottom: 10px;
	}
	.popup-action3 .free-lesson-input li{
		height: 40px;
		margin-bottom: 8px;
	}
	.popup-action3 .free-lesson-radio{
		margin-bottom: 10px;
	}
}